<!DOCTYPE html>
<html>
<head>
<title>Greenhouse</title>
  <style>
      body {
        background-color: #b4e9f0;
      }
      .Heading {
        color: #020202;
        font-family: 'Times New Roman';
        text-align: center;
      }
      .Description {
        color: black;
        font-family: 'Times New Roman';
        font-size: 12px;
        text-align: center;
      }
      .Data {
        margin-top: 40px;
        color: black;
        font-family: 'Georgia';
        display: flex;
      }
      .values {
        flex: 50%;
        text-align: center;
      }
      .box {
        margin: auto;
        width: 40%;
        border: 3px solid #2e0cc7;
        padding: 10px;
      } 

      /* The switch - credit: https://www.w3schools.com/howto/howto_css_switch.asp*/
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    #led-switch {
      margin-left:15%;
      margin-top:10%;
      clear:left;
      display: block;
    }
    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  </style>
</head>

<body>

<div class = "Heading">
  <h1>Real-Time Greenhouse Updates</h1>
</div>

<div class = "Description">
  <p>This site displays data using a thermosister and a photoresister on an Arduino using Adafruit's IOT system</p>
</div>
<hr style = "color:black;background-color:black;border-width:0;height:2px">
<div class = "Data">
  <div class = "values">
    <p>The current temperature is:</p>
    <div class = "box">
      <% if (temperature) { %>
        <p style = "text-align: center"><%- temperature -%> °C</p>
      <% } %>
    </div>
  </div>
  <div class = "values">
    <p>The current brightness is:</p>
    <div class = "box">
      <p style = "text-align: center"><%- brightness -%> Lux</p>
    </div>
  </div>
</div>
<div id="led-switch">
  <div>Turn on LED</div>
  <label class="switch">
    <input type="checkbox">
    <div class="slider round"></div>
  </label>
</div>
</body>
</html>
