<!DOCTYPE html>
<html>
<head>
<title>Greenhouse</title>
  <style>
      body {
        background-color: #b4e9f0;
      }
      .Heading {
        color: #020202;
        font-family: 'Times New Roman';
        text-align: center;
      }
      .Description {
        color: black;
        font-family: 'Times New Roman';
        font-size: 12px;
        text-align: center;
      }
      .Data {
        margin-top: 40px;
        color: black;
        font-family: 'Georgia';
        display: flex;
      }
      .values {
        flex: 50%;
        text-align: center;
      }
      .box {
        margin: auto;
        width: 40%;
        border: 3px solid #2e0cc7;
        padding: 10px;
        margin-bottom: 10px;
      } 
  </style>
</head>

<body>

<div class = "Heading">
  <h1>Real-Time Plastic Sorting Updates</h1>
</div>

<div class = "Description">
  <p>This site gives real time updates of the amounts of each plastic type sorted using our system</p>
</div>
<hr style = "color:black;background-color:black;border-width:0;height:2px">
<div class = "Data">
  <div class = "values">
    <p>The current amount of type 1 is:</p>
    <div class = "box">
      <% if (data) { %>
        <p style = "text-align: center"><%- data[1] -%></p>
      <% } %>
    </div>
    <form action="/reset?type=1" method="POST">
      <button id="reset-1" type="submit">Reset 1</button>
    </form>
    
  </div>
  <div class = "values">
    <p>The current amount of type 2 is:</p>
    <div class = "box">
      <% if (data) { %>
        <p style = "text-align: center"><%- data[2] -%></p>
      <% } %>
    </div>
    <form action="/reset?type=2" method="POST">
      <button id = "reset-2" type="submit">Reset 2</button>
    </form>
  </div>
</div>
</body>
</html>
